.synth-container {

    height: 300px;
    width: 600px;

    background: lightgray;
    border: 1px solid gray;

    .controls {

        height: 50%;
        width: 100%;
        display: inline-block;

    }
}


