.synth-container {

    // global
    font-family: monospace;
    height: 450px;
    width:  900px;
    background: red;
    box-sizing: border-box;
    li { list-style-type: none }

    .controls-display-windows, .controls-controls {
        height: 225px;
    }
    .controls-display-windows {
        width: 900px/4;
        text-align: center;
    }
    .controls-controls {
        width: 3 * (900px/4);
    }
}

