ul.synth-keyboard-container {

    margin: 0;
    padding: 0;
    background: white;
    position: absolute;
    bottom: 0px; 
    left: 0px; 
    height: 40%;
    width: 100%;

    /* flex properties */
    display: flex;
    flex-direction: row;


    li.synth-keyboard-key {
        background: white;
        border: 1px solid black;
        list-style-type: none;
        max-height: 100%;

        /* flex properties */
        flex: 1;
    }

    li.synth-keyboard-key:hover {
    }

    li.synth-keyboard-key:nth-child(2),
    li.synth-keyboard-key:nth-child(4),
    li.synth-keyboard-key:nth-child(7),
    li.synth-keyboard-key:nth-child(9),
    li.synth-keyboard-key:nth-child(11),
    li.synth-keyboard-key:nth-child(14),
    li.synth-keyboard-key:nth-child(16),
    li.synth-keyboard-key:nth-child(19),
    li.synth-keyboard-key:nth-child(21),
    li.synth-keyboard-key:nth-child(23) {
        background: black;
    }
}
