ul.synth-keyboard-container {

    height: 50%;
    width: 100%;
    border: 1px solid black;

    li.synth-keyboard-key {

        height: 50%;
        width: 100%;
        border: 1px solid black;

    }
}
